{{#section "signupjs"}}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const errorMessage = "{{this.errorMessage}}"; // Lấy giá trị của errormessage từ template
            if (errorMessage.length > 0) {
               Swal.fire({
                    title: 'Error',
                    text: errorMessage,
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
                return;
            }
        });
    </script>
{{/section}}

<div id="card-contain">
    <div id="signup-card">
        <div class="d-flex flex-column justify-content-center align-items-center mb-3">
            <img id="logo-img" src="/static/imgs/NEWSLANDlogoRmBg.png" alt="" class="img-fluid rounded-circle">
            <h1>Xác nhận mã OTP</h1>
        </div>
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <div class="alert alert-warning text-center mb-5" role="alert">
                <h4 class="alert-heading mb-3">Well done!</h4>
                <p>Email chứa mã OTP 8 kí tự đã được gửi đến Email của người dùng:</p>
                <p class="email-format">{{this.email}}</p>
            </div>
            <form class="form-otp" action="/account/otp" method="POST">
                <input type="text" class="txt-input" name="email" value="{{this.email}}">
                <div class="mb-5 form-group">
                    <label class="form-label" for="txtOTP">NHẬP MÃ OTP</label>
                    <input type="text" name="otp" id="txtOTP" class="form-control txt-input">
                </div>
                <button type="submit" class="btn btn-info btn-connect">Submit</button>
            </form>
        </div>
    </div>
</div>