{{#section "signupjs"}}
<script>
    document.addEventListener("DOMContentLoaded", function () {
            const successMessage = "{{this.successMessage}}"; // Lấy giá trị của errormessage từ template
            if (successMessage.length > 0) {
                Swal.fire({
                    title: 'Success',
                    text: successMessage,
                    icon: 'success',
                    confirmButtonText: 'OK'
                });
                return;
            }
        });
</script>
{{/section}}

<div id="card-contain">
    <div id="signup-card">
        <div class=" d-flex flex-column justify-content-center align-items-center">
            <img id="logo-img" src="/static/imgs/NEWSLANDlogoRmBg.png" alt="">
            <h1>Reset Password</h1>
        </div>
        <div class="card-body">
            <div class="form-newpass d-flex flex-column justify-content-center align-items-center">
                <form action="/account/reset-password" method="post">
                    <div class="form-group mb-3">
                        <label class="form-label" for="txtEmail">Your email</label>
                        <input type="text" class="form-control txt-input mb-3" name="email" id="txtEmail" value="{{this.email}}">
                    </div>
                    
                    <div class="form-group mb-3">
                        <label class="form-label" for="txtNewPassword">Mật khẩu mới</label>
                        <input type="password" name="raw_password" id="txtNewPassword" class="form-control txt-input" placeholder="New Password">
                    </div>
                    
                    <div class="form-group mb-3">
                        <label class="form-label" for="txtConfirmNewPassword">Nhập lại mật khẩu mới</label>
                        <input type="newconfirmpassword" name="raw_confirmnewpassword" id="txtConfirmNewPassword" class="form-control txt-input" placeholder="Confirm New Password">
                    </div>
                    <button type="submit" class="btn btn-info btn-connect mb-3" href="#">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>