<link rel="stylesheet" href="/css/homepage.css">

<div class="feature-paper mb-5">
    <div class="paper-infor">
        <div class="header-paper">
            <button class="name-category-paper" disabled="disabled">Chính trị</button>
            <h6>
                <i class="bi bi-calendar3"></i>
                Nov 20th, 2024
            </h6>
        </div>
        <h1>Donald Trump đắc cử tổng thống Mỹ</h1>
        <div class="status-paper">
            <h6><i class="bi bi-pencil-square"></i>admin</h6>
            <h6><i class="bi bi-eye-fill"></i>1000</h6>
            <h6><i class="bi bi-hearts"></i>500</h6>
            <h6><i class="bi bi-chat-dots"></i>1000</h6>
        </div>
    </div>
</div>
<div class="title-paper-list mb-3">
    <h1>Trending News</h1>
    <div class="container-fluid d-flex justify-content-between">
        <div class="row">
            <div class="col-sm-4 feature-paper">   
                <div class="paper-infor ">
                    <div class="header-paper">
                        <button class="name-category-paper" disabled="disabled">Chính trị</button>
                        <h6>
                            <i class="bi bi-calendar3"></i>
                            Nov 20th, 2024
                        </h6>
                    </div>
                    <h1>Donald Trump đắc cử tổng thống Mỹ</h1>
                    <div class="status-paper">
                        <h6><i class="bi bi-pencil-square"></i>admin</h6>
                        <h6><i class="bi bi-eye-fill"></i>1000</h6>
                        <h6><i class="bi bi-hearts"></i>500</h6>
                        <h6><i class="bi bi-chat-dots"></i>1000</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="">
                    <div class="card d-flex flex-row mb-2">
                        <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                        <div class="paper-small">
                            <div class="header-paper small mt-2">
                                <button class="name-category-paper" disabled="disabled">Chính trị</button>
                                <h6 >
                                    <i class="bi bi-calendar3"></i>
                                    Nov 20th, 2024
                                </h6>
                            </div>
                            <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                        </div>
                    </div>
                    <div class="card d-flex flex-row mb-2">
                        <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                        <div class="paper-small">
                            <div class="header-paper small mt-2">
                                <button class="name-category-paper" disabled="disabled">Chính trị</button>
                                <h6 >
                                    <i class="bi bi-calendar3"></i>
                                    Nov 20th, 2024
                                </h6>
                            </div>
                            <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                        </div>
                    </div>
                    <div class="card d-flex flex-row mb-2">
                        <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                        <div class="paper-small">
                            <div class="header-paper small mt-2">
                                <button class="name-category-paper" disabled="disabled">Chính trị</button>
                                <h6 >
                                    <i class="bi bi-calendar3"></i>
                                    Nov 20th, 2024
                                </h6>
                            </div>
                            <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div id="top-chart" class="col-sm-3">
                <h4>TOP CHART</h4>
                <hr>
                <div class="container text-center">
                    <div class="row row-cols-1">
                        <div class="col">
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <button class="top-chart-format" disabled="disabled">Sức khỏe</button>
                                <button class="top-chart-format" disabled="disabled">1</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <button class="top-chart-format" disabled="disabled">Sức khỏe</button>
                                <button class="top-chart-format" disabled="disabled">1</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <button class="top-chart-format" disabled="disabled">Sức khỏe</button>
                                <button class="top-chart-format" disabled="disabled">1</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <button class="top-chart-format" disabled="disabled">Sức khỏe</button>
                                <button class="top-chart-format" disabled="disabled">1</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <button class="top-chart-format" disabled="disabled">Sức khỏe</button>
                                <button class="top-chart-format" disabled="disabled">1</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="title-paper-list mb-3 d-flex flex-column">
    <h1>Feature</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">   
                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>
                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>
                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>
                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>
                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>
            
                
            </div>
            <div class="col-sm-4">
                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>
                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>
                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="title-paper-list mb-3 d-flex flex-column">
    <h1>Top New Weekly</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">   
                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>
                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>
                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>
                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>
                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>
            
                
            </div>
            <div class="col-sm-4">
                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>
                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>
                <div class="card d-flex flex-row mb-2">
                    <img src="/imgs/Trump.jpg" alt="..." class="img-title-paper">
                    <div class="paper-small">
                        <div class="header-paper small mt-2">
                            <button class="name-category-paper" disabled="disabled">Chính trị</button>
                            <h6 >
                                <i class="bi bi-calendar3"></i>
                                Nov 20th, 2024
                            </h6>
                        </div>
                        <h5 class="card-title">Donald Trump đắc cử tổng thống Mỹ</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>