
hr{
    height: 1pt;
    background-color: black;
    width: 100%;
}
.card-contain{
    font-size: 20px;
    margin: 40px;
    margin-left: 20%;
    margin-right: 20%;
}
.des{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgb(126, 123, 123);
    font-size: 12pt;
}
h1{
    font-weight: 900;
}
img{
    width: 100%;
    max-width: 100%;
}

#txtComment{
    height: 100px;
}

.comment label{
    font-size: 20pt;
    font-weight: 600;
}

.abstract-font{
    font-size: 12pt;
}

.inf-comment{
    font-size: 12pt;
}
.txtcomment{
    width: 100%;
    background-color: rgb(240, 236, 236);
    font-size: 12pt;
    padding:10px;
    padding-left: 20px;
    border-radius: 10px;
 
}
.name-category-paper{
    background-color: rgb(231, 130, 130);
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

.abstract-font{
    font-size: 10pt;
}

.paper-small{
    margin-left: 10px;
}