.feature-paper{
    position: relative;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    color: white;
}

  
.feature-paper::before {
    content: '';
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/imgs/Trump.jpg'); /* Đường dẫn đến ảnh */
    background-size: fit; /* Hoặc dùng contain tùy mục đích */
    opacity: 0.8; 
    z-index: -1; /* Đưa pseudo-element ra phía sau nội dung */
  }
.name-category-paper{
    background-color: #FF5757;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-weight: 900;
}
.paper-infor{
    display: flex;
    flex-direction: column; /* Sắp xếp theo cột */
    justify-content: flex-end; /* Đẩy nội dung xuống cuối theo chiều dọc */
    align-items: flex-start; /* Nếu muốn căn chỉnh nội dung sang bên trái */
    width: 100%; /* Chiều rộng container con */
    height: 100%; /* Chiều cao container con */
    color: white;
    padding: 80px;
    max-width: 600px;
}
.paper-infor h1{
    font-weight: 900;
}

.header-paper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    max-width: 80%;
}
.header-paper h6{
    display: inline-block;
}

.status-paper{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    gap: 20px;
    text-align: center;
    margin-top: 10px;
    color: white;
    opacity: 0.7;
}

.status-paper h6 i{
    margin-right: 5px;
}


.title-paper-list .feature-paper{
    height: 390px;
    width: 90%;
    margin-left: 20px;
    background-image: url('/imgs/Trump.jpg');
}
    

.title-paper-list .paper-infor{
    transform: scale(0.6); /* Thu nhỏ toàn bộ khối xuống 80% */
    transform-origin: bottom left;
}


.img-title-paper{
    width: 150px;
    height: auto;
    border-radius: inherit;
}
.card{
    height: 125px;
    margin: 0;
}
.title-paper-list .small{
    transform: scale(0.6);
    transform-origin: top left;
    width: 400px;
    margin: 0px 0px 0px 10px;
    
}


.small h6 i{
    margin-right: 10px;
}
.paper-small h5{
    max-width: 250px;
    margin-left: 10px;
    font-weight: 600;
}

#top-chart hr{
    width: 100%;
    margin-top: 0px;
    border: none;
    height: 2px;
    background-color: #f3725c;
}

#top-chart h4{
    font-weight: 600;
    color: #FF5757;
    background-color: #f4cdc6;
    width: 50%;
}

.col{
    display: inline-block;
    width: 100%;
    height: 63px;
    margin-top: 0px;
    border-radius: 5px;
    margin-bottom: 4px;
    background-image: url('/imgs/Trump.jpg');
    opacity: 0.8;
    padding: 10px 30px 0px 30px;
}

.container-fluid{
    padding-left: 0px !important;
}

h1 {
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 10px;
} 

.top-chart-format{
    background-color: rgb(196, 195, 195, 0.5);
    color: rgb(247, 247, 247);
    font-weight: 900;
    font-size: 18px !important;
    border-radius: 5px;
}

