*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

.tw-mx-1 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important
}

.tw-mx-5 {
  margin-left: 1.25rem !important;
  margin-right: 1.25rem !important
}

.tw-mx-auto {
  margin-left: auto !important;
  margin-right: auto !important
}

.tw-my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important
}

.tw-mb-1 {
  margin-bottom: 0.25rem !important
}

.tw-mb-10 {
  margin-bottom: 2.5rem !important
}

.tw-mb-2 {
  margin-bottom: 0.5rem !important
}

.tw-mt-2 {
  margin-top: 0.5rem !important
}

.tw-mt-3 {
  margin-top: 0.75rem !important
}

.tw-mt-5 {
  margin-top: 1.25rem !important
}

.tw-mt-auto {
  margin-top: auto !important
}

.tw-line-clamp-2 {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 2 !important
}

.tw-line-clamp-3 {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 3 !important
}

.tw-block {
  display: block !important
}

.tw-flex {
  display: flex !important
}

.tw-h-\[100px\] {
  height: 100px !important
}

.tw-h-\[180px\] {
  height: 180px !important
}

.tw-h-\[450px\] {
  height: 450px !important
}

.tw-h-\[50px\] {
  height: 50px !important
}

.tw-h-\[50vh\] {
  height: 50vh !important
}

.tw-min-h-screen {
  min-height: 100vh !important
}

.tw-w-\[100\%\] {
  width: 100% !important
}

.tw-w-\[100px\] {
  width: 100px !important
}

.tw-w-\[15\%\] {
  width: 15% !important
}

.tw-w-\[15\%\] {
  width: 15% !important
}

.tw-w-\[20\%\] {
  width: 20% !important
}

.tw-w-\[25\%\] {
  width: 25% !important
}

.tw-w-\[350px\] {
  width: 350px !important
}

.tw-w-\[48\%\] {
  width: 48% !important
}

.tw-w-\[50px\] {
  width: 50px !important
}

.tw-w-\[60\%\] {
  width: 60% !important
}

.tw-w-\[90\%\] {
  width: 90% !important
}

.tw-w-full {
  width: 100% !important
}

.tw-max-w-\[100\%\] {
  max-width: 100% !important
}

.tw-max-w-\[1200px\] {
  max-width: 1200px !important
}

.tw-flex-row {
  flex-direction: row !important
}

.tw-flex-col {
  flex-direction: column !important
}

.tw-flex-wrap {
  flex-wrap: wrap !important
}

.tw-items-center {
  align-items: center !important
}

.tw-justify-center {
  justify-content: center !important
}

.tw-justify-between {
  justify-content: space-between !important
}

.tw-gap-2 {
  gap: 0.5rem !important
}

.tw-self-center {
  align-self: center !important
}

.tw-overflow-hidden {
  overflow: hidden !important
}

.tw-text-ellipsis {
  text-overflow: ellipsis !important
}

.tw-rounded-\[20px\] {
  border-radius: 20px !important
}

.tw-rounded-\[30px\] {
  border-radius: 30px !important
}

.tw-border {
  border-width: 1px !important
}

.tw-border-0 {
  border-width: 0px !important
}

.tw-border-\[5px\] {
  border-width: 5px !important
}

.tw-border-orange-500 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(249 115 22 / var(--tw-border-opacity, 1)) !important
}

.tw-bg-orange-500 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(249 115 22 / var(--tw-bg-opacity, 1)) !important
}

.tw-bg-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1)) !important
}

.tw-bg-yellow-300 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(253 224 71 / var(--tw-bg-opacity, 1)) !important
}

.tw-bg-yellow-500 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(234 179 8 / var(--tw-bg-opacity, 1)) !important
}

.tw-object-cover {
  -o-object-fit: cover !important;
     object-fit: cover !important
}

.tw-p-2 {
  padding: 0.5rem !important
}

.tw-p-3 {
  padding: 0.75rem !important
}

.tw-p-\[5px\] {
  padding: 5px !important
}

.tw-p-\[8px\] {
  padding: 8px !important
}

.tw-px-0 {
  padding-left: 0px !important;
  padding-right: 0px !important
}

.tw-px-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important
}

.tw-px-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important
}

.tw-px-5 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important
}

.tw-py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important
}

.tw-pt-2 {
  padding-top: 0.5rem !important
}

.tw-text-center {
  text-align: center !important
}

.tw-text-xl {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important
}

.tw-font-\[18px\] {
  font-weight: 18px !important
}

.tw-font-bold {
  font-weight: 700 !important
}

.tw-text-\[\#948D8D\] {
  --tw-text-opacity: 1 !important;
  color: rgb(148 141 141 / var(--tw-text-opacity, 1)) !important
}

.tw-text-\[\#F0B617\] {
  --tw-text-opacity: 1 !important;
  color: rgb(240 182 23 / var(--tw-text-opacity, 1)) !important
}

.tw-text-green-500 {
  --tw-text-opacity: 1 !important;
  color: rgb(34 197 94 / var(--tw-text-opacity, 1)) !important
}

.tw-text-red-500 {
  --tw-text-opacity: 1 !important;
  color: rgb(239 68 68 / var(--tw-text-opacity, 1)) !important
}

.tw-text-white {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1)) !important
}

.tw-line-clamp-2 {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 2 !important
}

.tw-line-clamp-3 {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 3 !important
}

.hover\:tw-border-orange-500:hover {
  --tw-border-opacity: 1 !important;
  border-color: rgb(249 115 22 / var(--tw-border-opacity, 1)) !important
}

.hover\:tw-bg-blue-300:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(147 197 253 / var(--tw-bg-opacity, 1)) !important
}

.hover\:tw-bg-white:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1)) !important
}

.hover\:tw-bg-yellow-200:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(254 240 138 / var(--tw-bg-opacity, 1)) !important
}

.hover\:tw-text-black:hover {
  --tw-text-opacity: 1 !important;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1)) !important
}