<!-- Place the first <script> tag in your HTML's <head> -->

{{#section "script"}}
<script src="https://cdn.tiny.cloud/1/phvhvcvzrs6bon8nebxuyvig5ln78s4n2mtlz4eodyg21gj5/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '#formDes'
  });
</script>
{{/section}}
<form action="" method="post">
  <div class="form-group mb-5">
    <label for="txtDes">Product Name</label>
    <input type="text" name="" id="txtDes" class="form-control" placeholder="" aria-describedby="helpId">
  </div>
  <div class="form-group">
    <label for="formDes">Description</label>
    <textarea id="formDes"> Welcome to TinyMCE!</textarea>
  </div>
</form>



