{{!-- vwAdministrator/tags/add.hbs --}}
{{#section "css"}}
    <link href="/static/css/cssAdministrator/tags/add.css" rel="stylesheet">
{{/section}}

<h1 id="page-title">Add New Tag</h1>

<form action="/administrator/manage_tags/add" method="post" id="form-container">
  <div id="form-group">
    <label for="TagName" id="form-label">Tag Name</label>
    <input type="text" id="TagName" name="TagName" class="form-control" required>
  </div>
  
  <div id="form-actions">
    <button type="submit" id="btn-add" class="btn btn-primary">Add Tag</button>
    <a href="/administrator/manage_tags" id="btn-cancel" class="btn btn-secondary">Cancel</a>
  </div>
</form>
