@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
      .tw-no-scrollbar::-webkit-scrollbar {
          display: none;
      }
      .tw-no-scrollbar {
          -ms-overflow-style: none;  
          scrollbar-width: 0; 
    }
  }